{
  "presets": [
    "es2015",
    "react",
    "react-app"
  ],
  "plugins": [
    [
      "react-intl",
      {
        "messagesDir": "src/translations/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}