@import '../../default.scss';

.footer {
  background-color: $footer-background-color;

  & .footer-wrapper {
    width: 1150px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    & h1, h2, h3, h4, h5, h6, p {
      color: $footer-font-color;
    }

    & a {
      color: $footer-link-color;
    }

    & .company-info {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left;
    }

    & .footer-menu {
      padding-top: 10px;
      padding-bottom: 10px;
      & h2 {
        padding-bottom: 15px;
      }
    }

    & .company-logo {
      text-align: left;
    }

    & .footer-right {
      text-align: right;
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer {

    & .footer-wrapper {
      width: 90%;

      & .company-info {
        display: block;
        margin-right: auto;
        width: 150px;
      }

      & .footer-menu {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        & p, a {
          display: inline;
          padding-right: 20px;
        }
      }

    }
  }
}
