@import '../../default.scss';

.hero-header {
  width: 100%;
  position: relative;

  &-wrapper {
    display: inline-block;
    position: absolute;
    top: 35%;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 70%;
    animation: fadeInFromTop .5s;
    animation-timing-function: $ease-in-out;

    & h1, h2, h3, h4, h5, h6, p {
      color: $banner-font-color;
    }

    & .ant-btn-primary {
      height: 40px;
      color: #fff;
      background-color: #108ee9;
      border-color: #108ee9;
    }

    & .ant-btn-primary:hover {
      background-color: #108ee9;
    }

    //Children Content vertical space inside Banner
    & .ant-row-flex > div {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    & h1 {
      font-size: 4em;
    }

  }
}