.hero-header {
  width: 100%;
  position: relative;

  &-wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 70%;

    //Children Content vertical space inside Banner
    & .ant-row-flex>div {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    & h1{
      font-size: 4em;
    }

  }
}